/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 16, 2015, 4:59:26 PM
    Author     : TI
*/

 // include fonts
 
 @font-face {
    font-family: 'source_sans_proregular';
    src: url('fonts/sourcesanspro-regular-webfont.eot');
    src: url('fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('fonts/sourcesanspro-regular-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans_prolight';
    src: url('fonts/sourcesanspro-light-webfont.eot');
    src: url('fonts/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-light-webfont.woff2') format('woff2'),
         url('fonts/sourcesanspro-light-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-light-webfont.ttf') format('truetype'),
         url('fonts/sourcesanspro-light-webfont.svg#source_sans_prolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans_proitalic';
    src: url('fonts/sourcesanspro-italic-webfont.eot');
    src: url('fonts/sourcesanspro-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-italic-webfont.woff2') format('woff2'),
         url('fonts/sourcesanspro-italic-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-italic-webfont.ttf') format('truetype'),
         url('fonts/sourcesanspro-italic-webfont.svg#source_sans_proitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans_probold';
    src: url('fonts/sourcesanspro-bold-webfont.eot');
    src: url('fonts/sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-bold-webfont.woff2') format('woff2'),
         url('fonts/sourcesanspro-bold-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-bold-webfont.ttf') format('truetype'),
         url('fonts/sourcesanspro-bold-webfont.svg#source_sans_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans_prolight_italic';
    src: url('fonts/sourcesanspro-lightitalic-webfont.eot');
    src: url('fonts/sourcesanspro-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-lightitalic-webfont.woff2') format('woff2'),
         url('fonts/sourcesanspro-lightitalic-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-lightitalic-webfont.ttf') format('truetype'),
         url('fonts/sourcesanspro-lightitalic-webfont.svg#source_sans_prolight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans_prosemibold';
    src: url('fonts/sourcesanspro-semibold-webfont.eot');
    src: url('fonts/sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-semibold-webfont.woff2') format('woff2'),
         url('fonts/sourcesanspro-semibold-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-semibold-webfont.ttf') format('truetype'),
         url('fonts/sourcesanspro-semibold-webfont.svg#source_sans_prosemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

%width-custom1{
    width:100%;
    float: left;
}
%width-custom2{
    width:auto;
    overflow: hidden;
}

// gigavia custom colors
  $color-1 : mix($main,$alert,25%);
  $color-2 : darken( mix($main,$alert,10%), 30%);
  $color-3 : mix($sec-color,$alert,25%);
  $color-4 : mix($sec-color,$neutral,75%);
  $color-5 : $ter-color;
  $color-6 : mix($main,$neutral,75%);
  $color-7 : mix($sec-color,$alert,25%);
  $color-8 : mix($sec-color,$neutral,75%);

.bgwheel1{
  background-color: $color-1;
}
.bgwheel2{
  background-color: $color-2;
}
.bgwheel3{
  background-color: $color-3;
}
.bgwheel4{
  background-color: $color-4;
}
.bgwheel5{
  background-color: $color-5;
}
.bgwheel6{
  background-color: $color-6;
}
.bgwheel7{
  background-color: $color-7
}
.bgwheel8{
  background-color: $color-8;
}

.crwheel1{
  color: $color-1;
}
.crwheel2{
  color: $color-2;
}
.crwheel3{
  color: $color-3;
}
.crwheel4{
  color: $color-4;
}
.crwheel5{
  color: $color-5;
}
.crwheel6{
  color: $color-6;
}
.crwheel7{
  color: $color-7
}
.crwheel8{
  color: $color-8;
}

// custom check boxes global
.custom-check{
    height:20px;
  &>label{
    display: inline-block;
    cursor: pointer;
    position: relative;
    width: 16px;
    overflow: hidden;

    &:before{
      content: "";
      display: inline-block;

      width: 16px;
      height: 16px;

      margin-right: 10px;
      position: absolute;
      left: 0;
      bottom: 1px;
      background-color: #aaa;
      box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);

      border-radius: 3px;
    }
  }

  &>input[type="checkbox"]{
    display: none;
    &:before{

    }
  }
  input[type="checkbox"] + label{
    display: inline-block;
    margin:0px !important;
    vertical-align: baseline;
  }
  input[type=checkbox]:checked + label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #FFF;
    font-weight: bold;
    text-align: center;
    line-height: 15px;
  }
}

// custom radio buttons global

.custom-radio{
  height:20px;
  &>label{
    display: inline-block;
    cursor: pointer;
    position: relative;
    width: 16px;
    overflow: hidden;

    &:before{
      content: "";
      display: inline-block;

      width: 16px;
      height: 16px;

      margin-right: 10px;
      position: absolute;
      left: 0;
      bottom: 1px;
      background-color: #aaa;
      box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);

      border-radius: 8px;
    }
  }
  &>input[type=radio] {
    display: none;
  }

  input[type=radio]:checked + label:before {
    content: "\2022";
    color: #FFF;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    line-height: 15px;
  }
}


// Z-levels

.z-depth-1{
  @include box-shadow-2(0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12));
}
.z-depth-1-half{
  @include box-shadow-2(0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15));
}
.z-depth-2{
  @include box-shadow-2(0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19));
}
.z-depth-3{
  @include box-shadow-2(0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19));
}
.z-depth-4{
  @include box-shadow-2(0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21));
}
.z-depth-5{
  @include box-shadow-2(0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22));
}

// Dividers

.divider {
  height: 1px;
  overflow: hidden;
  background-color: #ccc;
}

@-webkit-keyframes cro-scale {
  0% { -webkit-transform: scale(1); }
  1% { -webkit-transform: scale(1.2); }
  3% { -webkit-transform: scale(0.8); }
  5% { -webkit-transform: scale(1.1); }
  7% { -webkit-transform: scale(0.9); }
  8% { -webkit-transform: scale(1.05); }
  10% { -webkit-transform: scale(1); }
  100% { -webkit-transform: scale(1); }
}
@-moz-keyframes cro-scale {
  0% { -moz-transform: scale(1); }
  1% { -moz-transform: scale(1.2); }
  3% { -moz-transform: scale(0.8); }
  5% { -moz-transform: scale(1.1); }
  7% { -moz-transform: scale(0.9); }
  8% { -moz-transform: scale(1.05); }
  10% { -moz-transform: scale(1); }
  100% { -moz-transform: scale(1); }
}
@keyframes cro-scale {
  0% { transform: scale(1); }
  1% { transform: scale(1.2); }
  3% { transform: scale(0.8); }
  5% { transform: scale(1.1); }
  7% { transform: scale(0.9); }
  8% { transform: scale(1.05); }
  10% { transform: scale(1); }
  100% { transform: scale(1); }
}
.cro-scale {
  -webkit-animation: cro-scale ease-in infinite;
  -moz-animation: cro-scale ease-in infinite;
  animation: cro-scale ease-in infinite;

  -webkit-animation-duration:10s;
  -moz-animation-duration:10s;
  animation-duration:10s;
}

