@font-face {
  font-family: 'icomoon';
  src:url('fonts-icomoon/icomoon.eot?-kkuwkc');
  src:url('fonts-icomoon/icomoon.eot?#iefix-kkuwkc') format('embedded-opentype'),
  url('fonts-icomoon/icomoon.woff?-kkuwkc') format('woff'),
  url('fonts-icomoon/icomoon.ttf?-kkuwkc') format('truetype'),
  url('fonts-icomoon/icomoon.svg?-kkuwkc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e600";
}

.icon-teacher:before {
  content: "\e601";
}

.icon-institution:before {
  content: "\e602";
}

.icon-book:before {
  content: "\e603";
}

.icon-library:before {
  content: "\e604";
}

.icon-folder:before {
  content: "\e605";
}

.icon-folder-open:before {
  content: "\e606";
}

.icon-pin:before {
  content: "\e607";
}

.icon-stats:before {
  content: "\e608";
}

@font-face {
  font-family: 'icomoon-2';
  src:url('fonts-icomoon2/icomoon.eot?x2o74i');
  src:url('fonts-icomoon2/icomoon.eot?#iefixx2o74i') format('embedded-opentype'),
  url('fonts-icomoon2/icomoon.woff?x2o74i') format('woff'),
  url('fonts-icomoon2/icomoon.ttf?x2o74i') format('truetype'),
  url('fonts-icomoon2/icomoon.svg?x2o74i#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon2-"], [class*=" icon2-"] {
  font-family: 'icomoon-2';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon2-icon-arrow-left:before {
  content: "\e610";
}

.icon2-icon-arrow-right:before {
  content: "\e611";
}

.icon2-icon-close:before {
  content: "\e612";
}
