
.topheader-h2{
  margin: 10px 0 0 0;

  & > a{
    background: #FFF;
    padding: 10px 25px;
    float: left;
  }
  & a.inst-active{
    background: $succes;
    color: #FFF;
    position: relative;
    &:before{
      content: "";
      border-left:20px solid #FFF;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      position: absolute;
      top: 0;
      left: 0;
    }
    &:after{
      content: "";
      border-left:20px solid $succes;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      position: absolute;
      top: 0;
      right: -20px;
    }
  }
}
.topheader{
  @extend %width-custom1;
//  height: 52px;
//  overflow: hidden;
  & > li{

    @include transition(all, .5s);

    &.active{
      position: relative;
      &:before {
        width:100%;
        content: "";
        height: auto;
        position: absolute;
        bottom: 0;
        left: 0;
        border-bottom: 5px solid $color5;
        margin-bottom: -6px;
      }
    }
    &:hover{
      background: darken($main,15%);
    }
  }
}


// global styles


.class-tabs,
.top-tabs,
.bottom-tabs{
  &>li {
    &.active {
      background: #ddd;
      a {
        &:hover {
          background: #ddd !important;
        }
      }

    }
  }

}
.top-tabs.institution{
  &>li {
    &.active {
      background: #E5DBCF !important;
      a {
        background: none;
        &:hover {
          //background: #ddd !important;
        }
      }

    }
  }
}
.tabs-default1{
  &>li {
    &.active {
      background: $color5;
      a {
        color: #fff !important;
        &:hover {
          background: darken($color5, 5%);
        }
      }

    }
  }
}
.top-custom-tabs{
  &>li {
    &.active {
      background: #eee;
      a {
        &:hover {
          background: #ddd !important;
        }
      }

    }
  }
}
.class-tabs,
.top-custom-tabs,
.top-tabs{

  &>li {
    text-align: center;
    float: left;
    border-top: 5px solid #eee;
    @include transition(all, .5s);

    &:nth-child(8n + 1) {
      &.active {
        border-top: 5px solid $color-1 !important;
        a{
          color: $color-1 !important;
        }
      }
    }
    &:nth-child(8n + 2) {

      &.active {
        border-top: 5px solid $color-2 !important;
        a{
          color: $color-2 !important;
        }
      }
    }
    &:nth-child(8n + 3) {

      &.active {
        border-top: 5px solid $color-3 !important;
        a{
          color: $color-3 !important;
        }
      }
    }
    &:nth-child(8n + 4) {

      &.active {
        border-top: 5px solid $color-4 !important;
        a{
          color: $color-4 !important;
        }
      }
    }
    &:nth-child(8n + 5) {

      &.active {
        border-top: 5px solid $color-5 !important;
        a{
          color: $color-5 !important;
        }
      }
    }
    &:nth-child(8n + 6) {

      &.active {
        border-top: 5px solid $color-6 !important;
        a{
          color: $color-6 !important;
        }
      }
    }
    &:nth-child(8n + 7) {

      &.active {
        border-top: 5px solid $color-7 !important;
        a{
          color: $color-7 !important;
        }
      }
    }
    &:nth-child(8n + 8) {

      &.active {
        border-top: 5px solid $color-8 !important;
        a{
          color: $color-8 !important;
        }
      }
    }
  }
}
.bottom-tabs{
  &>li {
    text-align: center;
    float: left;
    border-bottom: 5px solid #fff;
    @include transition(all, .5s);

    &:nth-child(8n + 1) {
      &.active {
        border-bottom: 5px solid $color-1 !important;
        a{
          color: $color-1 !important;
        }
      }
    }
    &:nth-child(8n + 2) {

      &.active {
        border-bottom: 5px solid $color-2 !important;
        a{
          color: $color-2 !important;
        }
      }
    }
    &:nth-child(8n + 3) {

      &.active {
        border-bottom: 5px solid $color-3 !important;
        a{
          color: $color-3 !important;
        }
      }
    }
    &:nth-child(8n + 4) {

      &.active {
        border-bottom: 5px solid $color-4 !important;
        a{
          color: $color-4 !important;
        }
      }
    }
    &:nth-child(8n + 5) {

      &.active {
        border-bottom: 5px solid $color-5 !important;
        a{
          color: $color-5 !important;
        }
      }
    }
    &:nth-child(8n + 6) {

      &.active {
        border-bottom: 5px solid $color-6 !important;
        a{
          color: $color-6 !important;
        }
      }
    }
    &:nth-child(8n + 7) {

      &.active {
        border-bottom: 5px solid $color-7 !important;
        a{
          color: $color-7 !important;
        }
      }
    }
    &:nth-child(8n + 8) {

      &.active {
        border-bottom: 5px solid $color-8 !important;
        a{
          color: $color-8 !important;
        }
      }
    }
  }
}

.side-tabs{
  margin:0;
  &>li {
    text-align: left;
    float: left;
    @include transition(all, .5s);
    //border-left: 5px solid #eee;
    &>a{
      border:none;
      &:hover{
        background: #f5f5f5 !important;
      }
    }
    &.active{
      background: #ddd;
      border:1px solid #ccc;
      a{
        background: #EEE;
      }

    }

    &:nth-child(8n + 1) {
      &.active {
        border-left: 5px solid $color-1 !important;
        a{
          color: $color-1 !important;
        }
      }
    }
    &:nth-child(8n + 2) {

      &.active {
        border-left: 5px solid $color-2 !important;
        a{
          color: $color-2 !important;
        }
      }
    }
    &:nth-child(8n + 3) {

      &.active {
        border-left: 5px solid $color-3 !important;
        a{
          color: $color-3 !important;
        }
      }
    }
    &:nth-child(8n + 4) {

      &.active {
        border-left: 5px solid $color-4 !important;
        a{
          color: $color-4 !important;
        }
      }
    }
    &:nth-child(8n + 5) {

      &.active {
        border-left: 5px solid $color-5 !important;
        a{
          color: $color-5 !important;
        }
      }
    }
    &:nth-child(8n + 6) {

      &.active {
        border-left: 5px solid $color-6 !important;
        a{
          color: $color-6 !important;
        }
      }
    }
    &:nth-child(8n + 7) {

      &.active {
        border-left: 5px solid $color-7 !important;
        a{
          color: $color-7 !important;
        }
      }
    }
    &:nth-child(8n + 8) {

      &.active {
        border-left: 5px solid $color-8 !important;
        a{
          color: $color-8 !important;
        }
      }
    }
  }
}

// topheader main
.sticky{
  position: static;
//  position: -webkit-sticky;
//  position: sticky;
  position: fixed;

  &.topheader-main{
    width:100%;
    float: left;
    top:0;
    z-index: 101;
    background: $main;
    padding: 2px 0;

    .topheader{
      //color: #fff;
    }
  }
  &.institution-upcoming{
    top:0;
    z-index:99 ;
  }
  &.curation{
    margin: 0;
    padding: 0;

    top: 80px;
  }
  &.institution-submenu{
    top: 60px;
    z-index: 100;
  }
}
.custom-wrapper{
  width:100%;
  float: left;
  margin: 60px 0 0 0;
}
.custom-wrapper-2{
  width:100%;
  float: left;
  margin: 110px 0 0 0;
}

.side-panel-content{
  width:300px;
  height: 100%;
  background: #eee;
  border-right: 2px solid #ccc;
  //background: darken($main, 0%);
  //@extend .z-depth-2;
  position: fixed;
  z-index: 105;
  color: #fff;

  &:before{
//    content:"";
//    width:100%;
//    float: left;
//    height: inherit;
//    position: absolute;
//    top:0;
//    right:2px;
//    border-right:2px solid $alert;
  }
  &:after{
//    content:"";
//    position: absolute;
//    top:0px;
//    right:0;
//    width:100%;
//    height: 50px;
//    border-right:5px solid $main;
  }

}

.width350x{
  width:350px;
}
.width10x{
  width:10px;
}
.width20x{
  width:20px;
}
.hgt170{
  height: 170px;
}

.notification-preview{
  position: relative;
  width: 40px;
  height: 48px;
  float:left;
  margin: 2px 0 0 -10px;
  padding: 2px;
  //border:2px solid $alert;
  //border-left: none;
  //background: lighten($alert,20%);
  text-align: center;
  -moz-border-radius: 0 50% 50% 0 ;
  border-radius: 0 50% 50% 0;
  @include transition(all, .5s);

  &:after{
//    content:"";
//    position: absolute;
//    bottom: -2px;
//    right: 41px;
//    width:200px;
//    height: inherit;
//    border-bottom:2px solid $alert;
  }

  &>a{
    width:100%;
    color:#fff;
    margin: 0 0 0 -6px;
  }

  &>.home-notify{
    position: absolute;
    top: 0px;
    right: 3px;
    border:1px solid darken($color5 , 10%);
    background:$succes;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    line-height: 24px !important;
    //@include adjust-font-size-to(20px);
    //font-family: 'source_sans_prolight';
    font-weight: 700;
    color: #fff;
    animation: 8s ease-in 0s normal none infinite cro-scale;
    cursor: pointer;
  }
}
.topheader-topright{

  .topheader-details{
    width: 140px;
    float: right;
  }
  .topheader-search{
    width:calc(100% - 140px);
    padding: 0 5px 0 0;
    margin-top: 10px;
    float: left;
    position: relative;

    &>i{
      float: right;
      width:15px;
    }

    &.admin{
      &>input{
        width: calc(100% - 20px);
      }
    }
    &>input{
      @include transition(all, .5s);
        background: none;
        border: none;
        position: relative;
        box-shadow: none;
        padding: 5px;
        width:60%;
        float: right;
        border-bottom: 1px solid #fff;
        color: #fff;
      &:focus{
        background: none;
        width: calc(100% - 20px);
        border-bottom: 3px solid #fff;
        box-shadow: none;
      }
    }
    .search-results-label{
      @extend %width-custom1;
      padding: 5px 20px;
      background:mix( (lighten($main, 40%)),#ccc, 30%);
      font-weight: bold;
      @include adjust-font-size-to(16px);
      font-family: 'source_sans_prolight';
      color: $main;
      &>.search-results-main{
        margin:0 3px;
        font-weight: normal;
        color: darken($alert,50%);
      }
    }
    .search-results-ul{
      @extend %width-custom1;
      background:lighten($main, 62%);
    }
  }
}
.more-content{
  cursor: pointer;
  position: relative;
  padding-right:20px;
  @include transition(all, .5s);

  &:before{
    position: absolute;
    top:13px;
    right:0;
    width:20px;
    @include transition(0.5s);
    @extend [class^="fa-"];
    @extend .fa-caret-down:before;
    color: #fff;
  }
  &:hover{

    &:before{
      @extend [class^="fa-"];
      @extend .fa-caret-right:before;
    }
    &>.more-content-show{
      visibility:visible;
      opacity:1;
      transition-delay:0s;
    }
  }

  &>.more-content-show{
      width:150px;
      visibility:hidden;
      opacity:0;
      transition:visibility 0s linear 0.5s,opacity 0.5s linear;
      float:left;
      position: absolute;
      top:53px;
      left: 0;
      z-index: 101;
      @extend .z-depth-2;
      border:1px solid #ccc;
      background: #fff;
      margin: 0;
      &>li{
        padding: 4px;
        margin: 0;
        padding: 0;
        width:100%;
        float: left;

        &:hover{
          background: #ddd;
          a{

          }
        }
        &>a{
          color: $main;
          width:100%;
          float: left;
          padding: 8px 10px;
        }
      }
  }
}

//topheader module notication{ this will be sick}

.notification-indicate{
  position: relative;

  &>span,
  &>a{
      padding: 13px 15px;
      float: left;
  }
  &>.indicator{
    top:-10px;
    left:40%;
    position: absolute;
    color: #fff;
    height: 22px;
    font-weight: bold;
    border-radius: 50%;
    padding: 0px 5px 1px;
    font-family: 'source_sans_prolight';
    line-height: 18px;
    font-weight: 700;
    @include adjust-font-size-to(11px);
    border-width: 2px;
    border-style: solid;
    &.social{
      background: $succes;
      border-color:darken($succes ,15%);
     }
    &.mentorship{
      background: $ter-color;
      border-color:darken($ter-color ,15%);
    }
    &.calender{
      background: $alert;
      border-color:darken($alert ,15%);
    }
    &.library{
      background: $sec-color;
      border-color:darken($sec-color ,15%);
    }
    &.class{
      background: $alert;
      border-color:darken($alert ,15%);
    }
    &.institution{
      background: $succes;
      border-color:darken($succes ,15%);
    }
  }
}

.show-content{
  visibility:visible;
  opacity:1;
  transition-delay:0s;
}
.hide-content{
  visibility:hidden;
  opacity:0;
  transition:visibility 0s linear 0.5s,opacity 0.5s linear;
}
.show-hover-hidden,
.show-hidden-content{

  &:hover{
    .shown-hover,
    .show-hidden{
      @extend .show-content;
    }
  }
  .shown-hover,
  .show-hidden{
    @extend .hide-content;
  }

}
.custom-header1{
  @include adjust-font-size-to(40px);
  font-family: 'source_sans_prolight';
  font-weight: 300;
  //text-align: center;
}
.custom-header2{
  @include adjust-font-size-to(34px);
  font-family: 'source_sans_prolight';
  font-weight: 300;
  //text-align: center;
}
.custom-header3{
  @include adjust-font-size-to(26px);
  font-family: 'source_sans_prolight';
  font-weight: 300;
  //text-align: center;
}
.custom-header4{
  @include adjust-font-size-to(22px);
  font-family: 'source_sans_prolight';
  font-weight: 300;
  //text-align: center;
}
.custom-header5{
  @include adjust-font-size-to(18px);
  font-family: 'source_sans_prolight';
  font-weight: 300;
  //text-align: center;
}
.custom-header6{
  @include adjust-font-size-to(16px);
  font-family: 'source_sans_prolight';
  font-weight: 300;
  //text-align: center;
}

@-webkit-keyframes rotating {
  from{
    -webkit-transform: rotate(0deg);
    transform:rotate(0deg)

  }
  to{
    -webkit-transform: rotate(360deg);
    transform:rotate(360deg)
  }
}

button,
.btn{
  position: relative;
  &:hover{
    .fa{
      @extend .fa-flip-horizontal;
      //@extend .fa-rotate-360;
    }
  }
  &>.fa {
    @include transition(all , .5s);
  }
}

%before-content{
  content: "";
  position: absolute;
  top: 0;
  width:100%;
}

.body-config-hgt{
  @extend %width-custom1;
  height: calc(100% - 60px);
  margin:60px 0 0 0;
}

// alignment
.div-vertical{
  width: 1%;
  height: inherit;
  display: table-cell;
  vertical-align: middle;
}
.div-vertical-custom{
  @extend %vertical-align;
}
.div-bottom {
  width: 1%;
  height: inherit;
  display: table-cell;
  vertical-align: bottom;
}
.div-bottom-custom{
  @extend %bottom-align;
}

* {

  &:focus {
    border: none;
  }
}