
/*institution tweaks starts here*/

$admin-width : 250px;

.admin-content-left{
  width:$admin-width;
  float: left;
  height: inherit;
  position: fixed;
  top:0;
  left:0;
  background-color: $main;
  box-shadow: 4px 2px 6px darken($main,15%);
  z-index: 10000;
  &:hover{
    //overflow:scroll;
  }
}
.admin-content-right{
  margin-left: $admin-width;
  width:auto;
  overflow: hidden;
  min-height:100%;
  height: auto;
  background: #E5DBCF;

  .admin-top-header{
    padding: 10px 10px 10px 0;
    background-color: $main;
    position: fixed;
    top:0;
    right:0;
    width: calc(100% - 250px);
    box-shadow: 6px 4px 6px darken($main,15%);
    z-index: 10000;
  }

  &:nth-child(2){
    margin-top: 60px;
  }
}
.admin-head-profile{
  min-height: 100px;
  height: 100px;

}
.admin-side-select{
  @extend %width-custom1;
  height: calc(100% - 100px);
  overflow-x: hidden;
  overflow-y: auto;
}
.admin-navigation{
  @extend %width-custom1;
  //margin-top: 20px;
  ul {
    @extend %width-custom1;
    li {
      @extend %width-custom1;
      border-top: 1px solid #666;
      border-bottom: 1px solid darken($main,10%);
      &:first-child{
        border-top: none;
      }
      &:last-child{
        border-bottom: none;
      }
      &.active {
        background: none;
        border: none;
        a{
          background: darken($main,10%);

        }
      }
      a{
        @extend %width-custom1;
        background: none;
        padding:10px 8px;
        color: #fff;
        @include transition(all, .8s);
        &:hover{
          background: darken($main,5%) !important;
        }
      }


    }
  }
}
.inner-side-navigation{
  width:auto;
  margin: 0 0 0 20px;
  padding: 0px;
  background: darken($main,10%);
}

.news-tab{
  @extend %width-custom1;
  padding-top:0px;
  padding-left:0px;
  padding-right:0px;
  background: lighten($main,10%);
  border:1px solid lighten($main,0%) !important;
  border-left:none !important;

  &>li{
    border-top:5px solid lighten($main,10%);
    &>a{
      color:#fff !important;
      border-radius: 0px !important;
    }
    &.active{
      border-top:5px solid $alert;
    }
    &:hover{
      background:lighten($main,0%);
      &>a{
        background:lighten($main,0%);
      }
    }
  }
}


.notices-ul,
.dashboard-wrapper{
  @extend %width-custom1;

  @include MQ(S) {
    &>li,
    &>div{
      width:100%;
      float: left;
      padding: 10px;
    }
  }
  @include MQ(M) {
    &>li,
    &>div{
      width:50%;
      float: left;
      padding: 10px;
    }
  }
  @include MQ(L) {
    &>li,
    &>div{
      width:33.33%;
      float: left;
      padding: 10px;
    }
  }
}
.dashboard-wrapper{
  @extend %width-custom1;
  &>div {
    &:nth-child(8n + 1 ){

      &>a{
        background: $color-1;
        border:1px solid darken($color-1, 10%);
        @include transition(all, 0.4s);
        box-shadow: 0px 1px 3px darken($color-1, 30%);
        &:hover{
          box-shadow: 0px 4px 6px darken($color-1, 35%);
        }
      }
    }
    &:nth-child(8n + 2 ){

      &>a{
        background: $color-2;
        border:1px solid darken($color-2, 10%);
        @include transition(all, 0.4s);
        box-shadow: 0px 1px 3px darken($color-2, 30%);
        &:hover{
          box-shadow: 0px 4px 6px darken($color-2, 35%);
        }
      }
    }
    &:nth-child(8n + 3 ){

      &>a{
        background: $color-3;
        border:1px solid darken($color-3, 10%);
        @include transition(all, 0.4s);
        box-shadow: 0px 1px 3px darken($color-3, 30%);
        &:hover{
          box-shadow: 0px 4px 6px darken($color-3, 35%);
        }
      }
    }
    &:nth-child(8n + 4 ){

      &>a{
        background: $color-4;
        border:1px solid darken($color-4, 10%);
        @include transition(all, 0.4s);
        box-shadow: 0px 1px 3px darken($color-4, 30%);
        &:hover{
          box-shadow: 0px 4px 6px darken($color-4, 35%);
        }
      }
    }
    &:nth-child(8n + 5 ){

      &>a{
        background: $color-5;
        border:1px solid darken($color-5, 10%);
        @include transition(all, 0.4s);
        box-shadow: 0px 1px 3px darken($color-5, 30%);
        &:hover{
          box-shadow: 0px 4px 6px darken($color-5, 35%);
        }
      }
    }
    &:nth-child(8n + 6 ){

      &>a{
        background: $color-6;
        border:1px solid darken($color-6, 10%);
        @include transition(all, 0.4s);
        box-shadow: 0px 1px 3px darken($color-6, 30%);
        &:hover{
          box-shadow: 0px 4px 6px darken($color-6, 35%);
        }
      }
    }
    &:nth-child(8n + 7 ){

      &>a{
        background: $color-7;
        border:1px solid darken($color-6, 10%);
        @include transition(all, 0.4s);
        box-shadow: 0px 1px 3px darken($color-7, 30%);
        &:hover{
          box-shadow: 0px 4px 6px darken($color-7, 35%);
        }
      }
    }
    &:nth-child(8n + 8 ){

      &>a{
        background: $color-8;
        border:1px solid darken($color-8, 10%);
        @include transition(all, 0.4s);
        box-shadow: 0px 1px 3px darken($color-8, 30%);
        &:hover{
          box-shadow: 0px 4px 6px darken($color-8, 35%);
        }
      }
    }
  }
}
.hgt16{
  height:16px;
  &>input{
    color: $alert !important;
  }
}
.navigation-topbar {
  text-align: justify;

  .sticky {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -o-sticky;
    position: -ms-sticky;
    position: sticky;
    width: 100%;
    float: left;
    top: 10px;
    z-index: 101;

  }
}