
.social-tabs{
  width:100%;
  float: left;
  margin: 0;
  padding: 0;
  border-bottom: 3px solid #999;
  &>li {
    text-align: center;
    float: left;
    @include transition(all, 1s);
    border-bottom: 3px solid #999;
    margin-bottom: -3px;

    &.active {
      position: relative;
      //background: $main;
      border-bottom: 3px solid $color-1 !important;
      margin-bottom: -3px;
      &:before{
        content:"";
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 100%;
        //border-bottom: 3px solid $color-1 !important;
      }
      a{
        color: $color-1 !important;
      }

      &:before{
        content:"";
        position: absolute;
        @include transition(all, 1s);
      }
    }
  }
}


// profile
.book-shelf-profile{
  @extend %width-custom1;
  position: relative;
  background-position: 100% 100%;
  background-image:url("images/book-shelf1.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: 0 0 25px 0;
  .book-in-shelf{
    width: (100/4) *1%;
    padding: 0 5px;
    height: 110px;
    float: left;
    text-align: center;

    img{
      max-width: 100%;
      width: 70px;
      height: inherit;
      float: left;
    }
  }

  &:before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    //      background-image:url("images/book-shelf.png");
    //      background-repeat: no-repeat;
    //      background-size: 100% auto;
  }
}

// home css

$mentor-preview-width : 400px;
$preview-background : #fff;
$preview-margin-top :20px;
.mentor-preview{
  position: relative;
  @extend .show-hidden-content;

  .mentor-preview-home{
    @extend .show-hidden;
    width:$mentor-preview-width;
    height:auto;
    position: absolute;
    top:0;
    left: $mentor-preview-width * -1;

    .mentor-preview-home-content{
      width:calc(100% - 25px);
      float:left;
      @extend .z-depth-2;
      background: $preview-background;
      border:1px solid #bbb;
      border-radius: 2px;
      position: relative;

      &:before{
        content:"";
        position: absolute;
        top:$preview-margin-top;
        left:100%;
        width:100%;
        height: auto;
        border-left: 10px solid #999;
        border-top:10px solid transparent;
        border-bottom: 10px solid transparent;

      }
      &:after{
        content:"";
        position: absolute;
        top:$preview-margin-top;
        left:(calc(100% - 1px));
        width:100%;
        height: auto;
        border-left: 10px solid $preview-background;
        border-top:10px solid transparent;
        border-bottom: 10px solid transparent;

      }
    }
  }
}
.home-social-tabs{
  @extend .custom-header5;

  li{
    @include transition(all, .5s);

    a{
      margin: 0 10px;
      padding: 0px 15px;
      float: left;
      border:1px solid #ccc;
      background: #ddd;
      border-radius: 5px;
      color: #999;
      @include transition(all, .5s);
    }

    &.active{
      a{
        border:1px solid transparent;
      }
    }

    &:nth-child(8n + 1){
      &.active{

        a{
          background: none;
          @extend .crgiga4;
        }
      }
    }
    &:nth-child(8n + 2){
      &.active{

        a{
          background: none;
          @extend .cr-fb;
        }
      }
    }
    &:nth-child(8n + 3){
      &.active{

        a{
          background: none;
          @extend .cr-tw;
        }
      }
    }
    &:nth-child(8n + 4){
      &.active{

        a{
          background: none;
          @extend .cr-inst;
        }
      }
    }
  }
}

.user-preview{

  position: relative;
  @extend .show-hidden-content;

  .user-preview-content{
    @extend .show-hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    width: $mentor-preview-width;
    height: auto;

      .user-preview-content-detail{
        width:100%;
        height: auto;
        margin: 0 0 30px 0;
        background: #313443;
        @extend .z-depth-3;
        position: relative;
        float: left;


        .user-preview-manage{
          position: absolute;
          width: 120px;
          height: 120px;
          overflow: hidden;
          border-radius: 50%;
          top:0;
          left:0;
          margin: 20px 0 0 20px;
        }
        .user-preview-content-detail-1{
         // padding: 10px;
          background: #2B2E3D;
          height:80px;
          text-align: left;
          width:100%;
          float: left;
        }
        .user-preview-content-detail-2{
          //padding: 10px;
          background: #313443;
          height:80px;
          text-align: left;
          width:100%;
          float: left;
        }
        .user-preview-content-detail-3{
          padding: 4px;
          background: #3F4251;
          width:100%;
          float: left;
          position: relative;

            &:before{
            content:"";
            position: absolute;
            bottom:-10px;
            left:40px;
            // width:100%;
            height: auto;
            border-top: 10px solid #3F4251;
            border-right:10px solid transparent;
            border-left: 10px solid transparent;

          }
        }

      }
  }
}
.user-pic{
  width: 60px;
  float: left;
}
.user-content{
  width:calc(100% - 60px);
  float: left;
}

.home-image-preview{
  width:100%;
  height: auto;
  max-height: 400px;
  float: left;

  img{
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: inherit;
  }
}

// social feeds

.social-post-wrapper{
  @extend %width-custom1;
  @extend .z-depth-1;
  border:1px solid #ccc;
  background: #fff;

  .social-post-textarea{
    @extend %width-custom1;
    position: relative;
//    &:before{
//      @extend %before-content;
//      height: 100%;
//      border-left: 1px solid $main;
//    }
    textarea{
      width:100%;
      resize: none;
      border:none;
      background: none;
      border-bottom:2px solid #ccc;
      @include transition(all, .5s);
      box-shadow: none;
      &:focus{
        border-bottom:2px solid $color5;
      }


    }
  }
}
.current-activity{
  color: #ccc;

  a{
    color: $succes;
    margin: 0 2px;
    @extend .custom-header6;
  }
}
.social-custom-height{
  overflow-x: hidden;
  overflow-y: auto;
}
.ova{
  overflow-x: hidden;
  overflow-y: auto;
}
.main-side-panel{
  min-height: 500px;
  background: #2B2E3D;
}

.btn-side-panel-friends{
  width:32px;
  height: 32px;
  line-height: 18px;
  border-radius: 50% !important;
}

.classroom-side-notification{
  margin: 0;
  list-style: none;
  width:100%;
  float: left;
  padding: 0 20px;

  li{
    width:100%;
    float: left;

    a{
      width:100%;
      padding: 8px 10px 8px 25px;
      position: relative;
      color: #777;

      &:before{
        @extend %before-content;
        @extend [class^="fa-"];
        @extend .fa-folder:before;
        left: 0px;
        top: 5px;
      }
    }
  }
}
.customised-side-collapsed{
  position: relative;

  a{
    position: relative;
    @include transition(all, .5s);

    :after{
      @extend %before-content;
      @extend [class^="fa-"];
      @extend .fa-minus:before;
      //right:0px !important;
      font-size: 0.8em;
      left: 96% !important;
      top: 2px;
    }

    &.collapsed{
      position: relative;
      @include transition(all, .5s);

      :after{
        @extend %before-content;
        @extend [class^="fa-"];
        @extend .fa-plus:before;
        //right:0px !important;
        font-size: 0.8em;
        left: 96% !important;
        top: 2px;
      }
    }
  }

}
.side-social-notification{
  height: 30%;
  .side-social-notification-content{
    height: calc(100% - 40px);
    @extend .ova;
  }
}
.side-class-notification{
  height: 30%;
  .side-class-notification-content{
    height: calc(100% - 40px);
    @extend .ova;
  }
}
.side-panel-chat {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40%;
}
  .side-panel-chat-content{
    height: calc(100% - 85px);
    @extend .ova;
  }

  .chat-main-bar{
    @extend %width-custom1;
    background: $main;
    padding: 10px;
  }

  .chat-search{
    @extend %width-custom1;
    padding: 0 0 0 20px;
    position: relative;

    &:before{
      @extend %before-content;
      @extend [class^="fa-"];
      @extend .fa-search:before;
      top:0;
      left: 0px;
      width:auto;
    }
    input{
      border:none;
      @include transition(all, .5s);
      border-bottom: 1px solid $main;
      width:100%;
      padding: 0 10px;
      background: none;
      box-shadow: none;
      color: #fff;

      &:focus{
        background: none;
        box-shadow: none;
        border-bottom: 1px solid #fff;
      }
    }
  }

  .chat-available{
    width:10px;
    height: 10px;
    border-radius: 50%;
    background: $succes;
    color: $succes;
    float: left;
    line-height: 5px;
    overflow: hidden;
  }
  .chat-unavailable{
    width:10px;
    height: 10px;
    border-radius: 50%;
    background: $alert;
    color: $alert;
    float: left;
    line-height: 5px;
    overflow: hidden;
  }

  .single-chat-load{

    position: absolute;
    bottom: 0px;
    left: 100%;
    z-index: 101;

    .single-chat{
      width:300px;
      height: auto;
      background: #fff;
      @extend .z-depth-2;
      float: left;
      margin: 0 10px 0 0;
    }
  }

.chat-input{

  div{

    input,
    textarea{
      border:none;
      background: none;
      box-shadow: none;
      @include transition(all ,.5s);
      border-bottom: 2px solid inherit;
      height: 24px;
      resize: none;

      &:focus{

        border-bottom: 2px solid $succes;
        background: none;
        box-shadow: none;
      }
    }
  }
}

.chat-messages{
  width:auto;
  color: #444;
  padding: 5px 5px;
  background: #fff;
  height: 250px;
  @extend .ova;

  .sent-message{
    width:auto;
    max-width: 80%;
    float:right;
    background: #C3F1FF;

    padding: 5px;
    margin: 5px 0;
    border-radius: 4px;
    position: relative;

    &:before{

      @extend %before-content;
      width:auto;
      right:-16px;
      border-top:12px solid #C3F1FF;
      border-left: 12px solid transparent;
      border-bottom: 12px solid transparent;
      transform: rotate(270deg);
      top:-5px;
    }
  }
  .received-message{
    width:auto;
    max-width: 80%;
    float:left;
    background: #eee;

    padding: 5px;
    margin: 5px 0;
    border-radius: 4px;
    position: relative;

    &:before{

      @extend %before-content;
      width:auto;
      left:-10px;
      border-top:12px solid #eee;
      border-left: 12px solid transparent;
      border-bottom: 12px solid transparent;
      transform: rotate(0deg);
      top: 0px;
    }


  }
  .time-message{

  }
}
.switch-mode{
  a{
  color: #fff;
  padding: 3px 8px;
  border-radius: 6px;
  @include transition(all, .5s);
  &.active{
    background: $succes;
  }
  }
  &.active{
    a{
    background: $succes;
    }
  }
}

