
// photos

.photo-date{
  @extend %width-custom1;
  h5{
    @extend %width-custom1;
    font-family: 'source_sans_prolight';
    font-weight: 700;
    @include adjust-font-size-to(15px);
    padding: 8px;
    background:lighten($main,60%);
    color: darken($main,0%);
    border:1px solid lighten($main,45%);
    @extend .z-depth-1;
  }
}
.header-3{
  font-family: 'source_sans_prolight';
  font-weight: 300;
  @include adjust-font-size-to(23px);
  padding:0;
  margin: 10px 0 0 0;
}
$photo-dimensions:200px;
.photo-ul{
  @extend %width-custom1;
  margin: 0;
  padding: 0;
  //border:1px solid #ddd;

  &>li{
    margin: 0;
    padding: 0 1px 1px 0;
    float: left;
    width: $photo-dimensions;
    position: relative;
    //@include transition(all,0.5s);

    &>a{
      width:100%;
      height:$photo-dimensions;
      float: left;
      margin: 0;
      padding: 0;
      overflow: hidden;
      @include transition(all,1s);
      img{
        width:auto;
        max-width: 100%;
        height: 100%;
      }
    }

    &:hover {
      &>a{
        border:2px solid $main;
        @extend .z-depth-2;
      }

      .photo-ul-details{
        visibility:visible;
        opacity:1;
        transition-delay:0s;
      }
    }
    .photo-ul-details{
      visibility:hidden;
      opacity:0;
      transition:visibility 0s linear 0.5s,opacity 0.5s linear;
      background:linear-gradient(top, rgba(#000,0.2), (rgba(#000 ,0.6)) 30%);
      position: absolute;
      bottom:1px;
      left:0;
      width:calc(100% - 5px);
      height: auto;
    }
  }
}

.photo-divider{
  width:2px;
  height: 13px;
  float: left;
  margin:5px 5px 0;
  background: #fff;
}
.photo-modal{
  width:100%;
  height:100vh;
  position: fixed;
  top:0;
  left:0;
  background: rgba($main, 0.7);
  z-index: 110;

  .photo-modal-inner{
    width:calc(100% - 30px);
    //margin: 40px auto;
    //height: calc(100% - 80px);
    margin:5vh auto;
    height:90vh;
    //height: inherit;
    @extend .z-depth-4;
    background: rgba(#000 , 0.9);

    .photo-modal-inner-right{
      width:300px;
      height: 100%;
      float: right;
      background: #fff;
      //border:1px solid $sec-color;
      //padding: 10px;
    }
    .photo-modal-inner-left{
      width:calc(100% - 300px);
      height: inherit;
      overflow: hidden;
      position: relative;
      .photo-vertical{
        @extend .div-vertical;
        text-align: center;
        height: inherit;
        max-height: 100%;
        img{
          max-width: 100%;
          max-height: 100%;
        }
      }

      .navigation-left{
        width:30%;
        height: inherit;
        position: absolute;
        top:0;
        left: 0;
      }
      .navigation-right{
        width:30%;
        height: inherit;
        position: absolute;
        top:0;
        right: 0;
      }
    }
  }
}

.photo-side-section-1{
  @extend %width-custom1;
  padding: 10px;
  height: 70px;
}
.photo-side-section-2{
  @extend %width-custom1;
  height: 100px;
}
.photo-side-section-3{
  @extend %width-custom1;
  height: calc(100% - 220px);
  @extend .ova;
}
.photo-side-section-4{
  @extend %width-custom1;
  height: 50px;
  overflow: hidden;

  textarea{
    border-radius: 0;
    padding: 5px;
    height: 100% !important;
    min-height: 100% !important;
    border:none;
    box-shadow: none;
    resize: none;
    &:focus{
      //background: #eee;
    }
  }
}
.ln18{
  line-height: 18px;
}
.borcwheel1{
  border-color: $color-1;
}
.photo-bottom-bar{
  position: absolute;
  height: auto;
  bottom: 0;
  background: rgba(#000, 0.3);
  padding: 5px;
  left: 0;
  width:100%;
  float: left;
  z-index: 10;
}
