.active .colorgiga.bold{

}
.icon-assignment-time{
  margin: 3px 0 0 -25px;
}
.hvr-1:hover,
.hvr-1:hover *{
  color:#FFF !important;
  background: #5E487F;
}
.notes-post-type:hover{
  background: #5E487F !important;
  color:#FFF;
}
.file-uploaded{
  position: relative;
}
.ta:focus,
.TA:focus{
  /*background:rgba(220, 220, 220,0.3) !important;*/
  background: #FdFdFd !important;
  border:1px solid #999 !important;
  box-shadow: 0 1px 6px 1px #BBB;
  color:#373737 !important;
}
select.ta option,
select.TA option{
  color:#000 !important;
}
.content{
  position:relative;
}
.content:before,
.content:after{
  position:absolute;
  font-size:17px;
  color:#373737;
  content:"";
}
.content-quote:before{
  margin-top: -5px;
  margin-left: -10px;
  content:"\201C";
}
.content-quote:after{
  margin-top: -5px;
  margin-right: -10px;
  content:"\201D";
}
.lib-top{
  background-image: url("images/top-shelf.png");
  background-size: 100% 30px;
  background-repeat: no-repeat;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  height:30px;
  padding: 3px 0;
}
.lib-body{
  background-image: url("images/shelf-2.png");
  background-size: 100% 160px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  min-height: 160px;
  height: auto;
  text-align: center;
  width: 100%;
  float: left;
}
.content-load-wrapper{
  margin:0 15px 0 20px;
  /*overflow: hidden;
  min-height:125px;*/
  height: auto;
}
.content-load{
  width:90px;
  height:160px;
  float:left;
  margin-right: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.content-popup{
  width:350px;
  background: #fff;
  position: absolute;
  left:80%;
  top:0;
  border-radius: 0;
  padding: 4px;
  border:1px solid #ccc;
  @extend .z-depth-2;
  //height: 100%;
}
.hover-content .div-vertical
h3{
  width:100%;
  float: left;
  padding: 0;
  margin: 0;
  a{
    width: 100%;
    float: left;
    @include transition(all , 0.5s);
  }
}
.hover-content .div-vertical h3 a:hover{
  background-color: $succes;
}
.content-load-more{
  width:100%;
  float: left;
  height:inherit ;
}
.content-load-o{
  width:100%;
  height:120px;
  float:left;
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 0px;
}
.content-load_v{
  width: 150px;
  height: 100px;
  float: left;
  margin-right: 20px;
  margin-top: 25px;
  margin-bottom: 10px;
}
.content-load img{
  transition:padding .2s ease;
  width:100%;
  height:130px;
  padding: 5px;
  border-radius: 1px;

}
.content-load img:hover,
.content-load-o .slide-lib:hover,
.content-load_v .video-lib:hover{
  padding:5px;
  margin:0 0 0 -5px;
  background-color:#F79800;
  cursor: pointer;

}
.content-load-more:hover .hover-content{
  display: block;
}
.hover-content{
  transition: all 0s ease 0s, all 0.5s ease 0s;
  width:100%;
  height: inherit;
  float: left;
  position: absolute;
  display: none;
  top:0;
  left:0;
  border:2px solid #000;
  background: rgba(0,0,0,0.6);
}

.example thead{
  /*background: #5E487F;
  color: #FFF;*/
  color: #5E487F;
  /*	background: #CCC;*/
  /*	font-size: 13px !important;*/
}

.triangle-up{
  border-bottom: 10px solid #333;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  margin:-14px 10px 0 0 ;
}
.triangle-up-inner{
  border-bottom: 9px solid $color5;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  margin:1px 0px 0 -9px ;
  position: absolute;
}

.assig-counter-reset{
  counter-reset: assignment-counter;
}
.assig-counter{
  position: relative;
}
.assig-counter:before{
  display:inline-block;
  content: counter(assignment-counter);
  counter-increment: assignment-counter;
  display:list-item;
  list-style:none;
  width: auto;
  height: auto;
  color: #FFF;
  font-size: 17px;
  font-weight: bold;
  padding:6px 10px;
  background: #8187DA;
  position: absolute;
  border-top:1px solid #CCC;
  top:-3px;
  left: 0px;
  margin: -5px 0 0px -15px;
}

.res-counter-reset{
  counter-reset: research-counter;
}
.res-counter{
  position: relative;
}
.res-counter:before{
  display:inline-block;
  content: counter(research-counter,decimal-leading-zero);
  counter-increment: research-counter;
  display:list-item;
  list-style:none;
  width: auto;
  height: auto;
  color: #FFF;
  font-size: 17px;
  font-weight: bold;
  padding:2px 4px;
  background: #854B56;
  position: absolute;
  border-top:1px solid #CCC;
  top:-3px;
  left: 0px;
  margin: -5px 0 0px -10px;
}
.units-load:nth-child(6n+1) .units-load-single{
  background: #53BBB4;
}
.units-load:nth-child(6n+2) .units-load-single{
  background: #2570A8;
}
.units-load:nth-child(6n+3) .units-load-single{
  background: #9D8AC7;
}
.units-load:nth-child(6n+4) .units-load-single{
  background: #F33472;
}
.units-load:nth-child(6n+5) .units-load-single{
  background: #EF6B46;
}
.units-load:nth-child(6n+6) .units-load-single{
  background: #E15258;
}

//.units-load .units-load-single{}
//.units-load-join{
//  display: none;
//}
//.units-load:hover .units-load-join{
//  display: block;
//}
/* notice css*/
.bgtice_wrapper{
  width:100%;
  height:auto;
  background:#666;
  text-align:left;
}
.sticky_close{
  position:absolute;
  right:1px;
  top:1px;
  height:11px;
  display:none;
  width:11px;
}
.sticky_notice_title.zoomed_note{
  padding-top:2em;
}
.note_meta{
  position:absolute;
  left:1px;
  top:7px;
  font-weight:bold;
  /*	font-size:10px;*/
  margin-left:10px;
  color:#DDD;
  display:none;
  width:96%;
}
.note_meta_foot{
  position:absolute;
  right: 10px;
  bottom: 5px;
  font-weight:bold;
  display:none;
  width:96%;
}

.zoomed_note .note_meta,
.zoomed_note .note_meta_foot{
  display:block;
}

.notice_wrapper ul li a:hover .sticky_close{
  display:block;
  opacity:0.7;
}
.notice_wrapper ul li a:hover .sticky_close:hover{
  opacity:1;
  background:#d8d8ad;
}
.create_notice{
  margin:10px 0px 5px 20px;
}
.members_notices{
  width:100%;
  height:auto;
  /*	padding:6px;
          border-right:1px solid #444;
  */
  min-height:500px;

}
.members_notices ul li:nth-child(2n + 1) .sticky_notice_title{
  /*        margin-left: 5em*/
}
.sticky_notice_title.unread{
  background: #F4A60E;
}
.teachers_notices{
  width:30%;
  height:auto;
  /*	padding:6px;*/
  min-height:500px;
  border-left:1px solid #888;
}
.notice_wrapper h4{
  @include adjust-font-size-to(28px);
  font-family: 'source_sans_prolight';
  color:#633;
  font-size:100%;
  font-weight:normal;
  overflow:hidden;

}


.notice_wrapper p{
  font-family:"Comic Sans MS", cursive;
  font-size:100%;
  font-weight:normal;
  overflow:hidden;
}

/*.notice_wrapper p{
 padding:1em;
 padding-top:0px;
}
*/

.members_notices h4{
  /*	background:#d8d8ad;*/
  font-weight:bold;
  margin:3px 0px 5px 0px;
  padding:5px;
}
.teachers_notices h4{
  background:#b8b5d4;
  font-weight:bold;
  margin:3px 0px 5px 0px;
  margin-bottom:5px;
  padding:5px 0;
}
.notice-board{
  box-shadow: 0 0 5px #000;
  border:10px solid #ccc;
  position: relative;
}
.notice-board:before{
  content:"";
  position: absolute;
  top:0;
  right:0;
  height: 100%;
  width:100%;
  border:1px solid #888;
  box-shadow: 0 0 5px 2px #6D461B inset;
}
.notice-boardbg1{
  background-image: url('images/noticeboard4.jpg');
  background-repeat: repeat;
  background-position: 0px -10px;
}
.notice_wrapper ul{
  /*overflow:hidden;*/
  height:auto;
  position:relative;
  width:100%;
  float:left;
  margin:0;
  padding:0;

}
.notice_wrapper ul span.board-groups{
  width:99.8%;
  float:left;
  margin:0;
  padding:0;
  text-align: center;
  font-weight: bold;
  /*	border-top: 1px solid rgb(68, 68, 68);
      border-bottom:1px solid rgb(136, 136, 136);
      border-right:1px solid rgb(136, 136, 136);
      border-left:1px solid rgb(68, 68, 68);*/
}
.notice_wrapper ul span.board-groups span.board-groups-inner{
  width:100%;
  float:left;
  margin:0;
  padding:5px 0;
  /*color:#FFF;
  border-top: 1px solid rgb(136, 136, 136);
  border-bottom: 1px solid rgb(68, 68, 68);
  border-left:1px solid rgb(136, 136, 136);
  border-right:1px solid rgb(68, 68, 68);
  background:#505050;*/
}
.notice_wrapper ul span.board-groups span.board-groups-inner a{
  width:auto;
  margin:0 0 0 10px;
  padding:0;
  /*	color:#FFF;*/
  height:auto;
}
.notice_wrapper ul li div{
  text-decoration:none;
  color:#000;
  background:#fff;
  display:block;
  height:16em;
  width:100%;
  padding:1em;
  overflow:hidden;
  box-shadow: 1px 5px 2px #111;
  -moz-box-shadow: 1px 5px 2px #111;
  -ms-box-shadow: 1px 5px 2px #111;
  -webkit-box-shadow: 1px 5px 2px #111;
  -o-box-shadow: 1px 5px 2px #111;
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}

.members_notices ul li div{
  background:#fff;
}
.teachers_notices ul li div{
  background:#ddd9fe;
}
.notice_wrapper ul li div:focus, .notice_wrapper ul li div:hover{
  /*transform:scale(1.1);
  -moz-transform:scale(1.1);
  -o-transform:scale(1.1);
  -webkit-transform:scale(1.1);*/
  position:relative;
  z-index:5;
  box-shadow: 0px 7px 15px #111;
  -moz-box-shadow: 0px 7px 15px #111;
  -ms-box-shadow: 0px 7px 15px #111;
  -webkit-box-shadow: 0px 7px 15px #111;
  -o-box-shadow: 0px 7px 15px #111;
  transform:none;
}
.zoomed_note{
  position:absolute !important;
  width:50% !important;
  height:400px !important;
  overflow: hidden;
  z-index: 10!important;
  cursor: pointer ;
  -webkit-transform:none !important;
  top: 15%;
  left: 30%;
  background: #5DA423 !important;
  transition: width 0.5s ease;

  h4{
    margin: 0 !important;
  }
  .custom-notice-body{
    height:305px !important;
    overflow-x: hidden;
    overflow-y: auto !important;
    background: none;
    box-shadow: none;
    padding: 0px !important;

    &:hover{
      box-shadow: none;
    }
  }
}
.notice_wrapper .empty_note{
  height:350px;
  width:200px;
}
/* end of notice css*/


/*Admin css*/
.bg-side_admin{
  background-image: url("../../images/admin-side.png");
  background-repeat: repeat;
}
.calendar-load .fc-header,
.calendar-load .fc-toolbar{
  /*    background: #8B794F;*/
  padding:10px 0px !important;
  border:1px solid #CCC;
  border-bottom: none;
  margin-bottom: 0px;
}
.fc th{
  padding:10px !important;
  background: #f3f3f3;
}
.calendar-load .fc-header td,
.calendar-load .fc-toolbar div{
  padding:0 5px !important;
}
.calendar-load .fc-header td .fc-header-title h2{
  /*    color:#FFF;*/
}
/*.calendar-load .fc-header .fc-button,
.calendar-load .fc-toolbar .fc-button{
    padding: 10px 25px;
    border-color: #888 !important;
    height: auto;
}*/
.calender-main{
  border-right:1px solid #888;
  height:100%;
  position: relative;
}
.calender-main:before{
  content:"";
  width:auto;
  border-right: 1px solid #ccc;
  position: absolute;
  height: 100%;
  margin:0 1px 0 0;
}
.classmember-list{
  width:100%;
  overflow:hidden;
}
.classmember-list > a{
  width:18%;
  margin:0 1% 10px;
  border:1px solid #ccc;
  border-radius: 3px;
}
.classmember-list > a > img{
  width:100%;
}
.divider-ver{
  width:1px;
  position:relative;
  float:left;
  padding: 0 2px 0 1px;
  background: #aaa;
}
.divider-ver:before{
  position:absolute;
  width:100%;
  height:100%;
  content:"";
  top:0;
  left:0;
  border-left: 1px solid #FFF;
  border-right: 1px solid #FFF;
}

.post-photo1,
.post-photo2,
.post-photo3{
  float: left;
  width:100%;
  height:auto;

}
.post-photo1 > a:nth-child(0n+1){
  float:left;
  max-width:99%;
  width:auto;
  margin:.5%;
  height: 300px;
  overflow:hidden;
}
.post-photo1 a,
.post-photo2 a,
.post-photo3 a{
  border:1px solid #333;
  box-shadow: 0 0 3px #633492;
}
.post-photo2 > a:nth-child(0n+1){
  float:left;
  width:49%;
  margin:.5%;
  height: 300px;
  overflow:hidden;
}
.post-photo2 > a:nth-child(0n+2){
  float:right;
  width:49%;
  margin:.5%;
  height: 300px;
  overflow:hidden;
}
.post-photo3 > a:nth-child(0n+1){
  float:left;
  width:49%;
  margin:.5%;
  height: 310px;
  overflow:hidden;
}
.post-photo3 > a:nth-child(0n+2){
  float:left;
  width:49%;
  margin:.5%;
  height: 150px;
  overflow:hidden;
}
.post-photo3 > a:nth-child(0n+3){
  float:left;
  width:49%;
  margin:0.5%;
  height: 150px;
  overflow:hidden;
}
.post-photo1 > a:nth-child(0n+1) >img,
.post-photo2 > a:nth-child(0n+1) >img,
.post-photo2 > a:nth-child(0n+2) >img,
.post-photo3 > a:nth-child(0n+1) >img,
.post-photo3 > a:nth-child(0n+2) >img,
.post-photo3 > a:nth-child(0n+3) >img{
  width:auto;
  /*    min-width: 100%;*/
  height:auto;
  min-height: 100%;
}