// colors


$light-grey: #b8b8b8; //light grey
$background: #eceded; // body background color
$background1: #dddddd; // body background color 2
$text: #767676; // dark grey
$main: #432C68; // gigavia purple
$sec-color: darken(#f4a60e,5%); // orange
$neutral: darken(#c2c2c2,10%); //lighter grey
$succes: darken(#1FAF5A ,0%); //darken(#5da423,5%); // green
$ter-color: mix($sec-color,$succes,50%);
$alert: darken(#fc7171,10%); //red
$color5 : lighten(teal,5%);
// vertical rhythm

$base-font-size : 16px;
$base-line-height: 12px;
@include establish-baseline();

.bggiga1,
.bgg1{
    background: $main;
}
.crgiga1,
.crg1{
    color:$main;
}
.bggiga2
{
    background: $sec-color;
}
.bgg2{
   background: lighten($main,10%);
}
.crgiga2,
.crg2 {
    color:$sec-color;
}
.bggiga3,
.bgg3{
    background: $succes;
}
.crgiga3,
.crg3{
    color:$succes;
}
.bggiga4,
.bgg4{
    background: $alert;
}
.crgiga4,
.crg4{
    color:$alert;
}
.crgiga5{
  color: $color5;
}
.bggiga5{
  background-color: $color5;
}
h1, h2, h3, h4, h5, h6,h7,h8,h9,h10 {
  font-family: "Source Sans Pro", Roboto, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #3F3F3F;
  text-rendering: optimizeLegibility;
  @include leader(.2);
  @include trailer(.4); }

h1 {
  @include adjust-font-size-to(37px);
  font-weight: bold;
  &.nomg{
  	margin: 0;
  }
  &.nopg{
  	padding: 0;
  }
}

h2 {
  @include adjust-font-size-to(26px);
  font-weight: bold;
  &.nomg{
  	margin: 0;
  }
  &.nopg{
  	padding: 0;
  }
}

h3 {
  @include adjust-font-size-to(24px);
  font-weight: 600;
  &.nomg{
  	margin: 0;
  }
  &.nopg{
  	padding: 0;
  }
}

h4 {
  @include adjust-font-size-to(22px);
  font-weight: bold;
  &.nomg{
  	margin: 0;
  }
  &.nopg{
  	padding: 0;
  }
}

h5 {
  @include adjust-font-size-to(20px);
  &.minf1{
      @include adjust-font-size-to(18px);
  }
  &.minf2{
      @include adjust-font-size-to(16px);
  }
  &.minf3{
      @include adjust-font-size-to(14px);
  }
  &.nomg{
  	margin: 0;
  }
  &.nopg{
  	padding: 0;
  }
}

h6 {
  @include adjust-font-size-to(18px);
  &.nomg{
  	margin: 0;
  }
  &.nopg{
  	padding: 0;
  }
}
hr {
  border: solid #dddddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.25rem 0 1.1875rem;
  height: 0; }

  /* Lists */
  ol{
      list-style: lower-roman;
      &.deci{
          list-style: decimal;
      }
  }
ul,
ol,
dl {
  line-height: 1.6;
  margin-bottom: 1.25rem;
  list-style-position: outside;
  font-family: inherit; 
}

ul {
  margin-left: 1.1rem; 
  &.no-bullet {
    margin-left: 0; }
    &.no-bullet-a {
    margin: 0; }
    &.no-bullet li ul,
    &.no-bullet li ol {
      margin-left: 1.25rem;
      margin-bottom: 0;
      list-style: none; }
    &.bullet{
      margin-left: 1.25rem;
      margin-bottom: 0;
      list-style: lower-roman;
    }
}
/* Unordered Lists */
ul li ul,
ul li ol {
  margin-left: 1.25rem;
  margin-bottom: 0; }

/* Ordered Lists */
ol {    
  margin-left: 1.4rem; 
  &.bullet li{
     list-style: lower-roman;
  }
}
  ol li ul,
  ol li ol {
    margin-left: 1.25rem;
    margin-bottom: 0; }