@font-face {
    font-family: 'source_sans_proregular';
    src: url('sourcesanspro-regular-webfont.eot');
    src: url('sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('sourcesanspro-regular-webfont.woff') format('woff'),
         url('sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'source_sans_prolight';
    src: url('sourcesanspro-light-webfont.eot');
    src: url('sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-light-webfont.woff2') format('woff2'),
         url('sourcesanspro-light-webfont.woff') format('woff'),
         url('sourcesanspro-light-webfont.ttf') format('truetype'),
         url('sourcesanspro-light-webfont.svg#source_sans_prolight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'source_sans_proitalic';
    src: url('sourcesanspro-italic-webfont.eot');
    src: url('sourcesanspro-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-italic-webfont.woff2') format('woff2'),
         url('sourcesanspro-italic-webfont.woff') format('woff'),
         url('sourcesanspro-italic-webfont.ttf') format('truetype'),
         url('sourcesanspro-italic-webfont.svg#source_sans_proitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'source_sans_probold';
    src: url('sourcesanspro-bold-webfont.eot');
    src: url('sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-bold-webfont.woff2') format('woff2'),
         url('sourcesanspro-bold-webfont.woff') format('woff'),
         url('sourcesanspro-bold-webfont.ttf') format('truetype'),
         url('sourcesanspro-bold-webfont.svg#source_sans_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'source_sans_prolight_italic';
    src: url('sourcesanspro-lightitalic-webfont.eot');
    src: url('sourcesanspro-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-lightitalic-webfont.woff2') format('woff2'),
         url('sourcesanspro-lightitalic-webfont.woff') format('woff'),
         url('sourcesanspro-lightitalic-webfont.ttf') format('truetype'),
         url('sourcesanspro-lightitalic-webfont.svg#source_sans_prolight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'source_sans_prosemibold';
    src: url('sourcesanspro-semibold-webfont.eot');
    src: url('sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-semibold-webfont.woff2') format('woff2'),
         url('sourcesanspro-semibold-webfont.woff') format('woff'),
         url('sourcesanspro-semibold-webfont.ttf') format('truetype'),
         url('sourcesanspro-semibold-webfont.svg#source_sans_prosemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}